
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    width: 100%;
    text-align: center;
    flex-flow: row wrap;
    background: rgb(47,47,47);
    background: linear-gradient(90deg, rgba(47,47,47,1) 5%, rgba(20,20,20,1) 43%, rgba(49,54,54,1) 100%);
    
}
#header {
    text-align: left;
    width: 100%;
}
#header img {
    width: 50px;
}



#main {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    font-family: 'Playfair Display', serif;
    color: mintcream;
}

#info img {
    width: 30%;
}
#boton {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: auto;
    border-radius: 1px;
}
#info a {
    text-decoration: none;
    color: rgb(236, 226, 226);
    background-color: rgb(46, 95, 107);
    padding: 10px;
    margin: 10px auto;
    width: 120px;
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
}
#info p {
    width: 40%;
    margin: 10px 10%;
    color: rgb(215, 223, 223);
    text-align: center;
    font-size: 18px;
 margin-left: 30%;
 
 font-family: 'Playfair Display', serif;
}

/*scroll similar*/
.peli h3 {
    text-align: left;
    margin: 1% 1%;
    font-size: 24px;
    color: mintcream;
    font-family: 'Playfair Display', serif;
}
.peli {
    margin-top: 3%;
    width: 60%;
}
.peli div {
    height: 90%;
    display: flex;
    overflow: auto;
}
.peli div  a, img{
    margin: 10px 1%;
    width: 150px;
}
@media screen and (max-width: 1200px){.peli div{
    width: 90%;
    height: 90%;
    display: flex;

    overflow-x:scroll;
}
.peli div  a, img{
    margin: 10px 1%;
    width: 150px;
    
}#info p {
    width: 40%;
    margin: 10px 10%;
    color: rgb(215, 223, 223);
    text-align: center;
    font-size: 14px;
 margin-left: 30%;
 
 font-family: 'Playfair Display', serif;
}

/*scroll similar*/
.peli h3 {
    text-align: left;
    margin: 1% 1%;
    font-size: 16px;
    color: mintcream;
    font-family: 'Playfair Display', serif;
}
}