* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', serif;
    display: flex;
    width: 100%;
    text-align: center;
    flex-flow: row wrap;
    background: rgb(47,47,47);
    background: linear-gradient(90deg, rgba(47,47,47,1) 5%, rgba(20,20,20,1) 43%, rgba(49,54,54,1) 100%);
    
}
/*cabecera*/
#header {
    width: 100%;
    background-color: black;
    padding: 1%;
}
#header img {
    width: 80px;
}
#main {
    width: 100%;
}
/*Portada de bienvenida*/
#portada {
    width: 100%;
    background-image: url(../img/portadaBienvenida.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 5px  #FFF44F;
}

#portada  h1 {
    color:#FFF44F;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}

/*PLanes*/
#descripcion{
    margin: 40px;
    font-size: 20px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
#contenedor-plan{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
#titulo{
    width: 100%;
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
    
}
#plan {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.clasePlan {
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #080F17;
    border-radius: 10px;
    color: whitesmoke;
}
.clasePlan h3{
    color: #FFF44F;
    font-family: 'Playfair Display', serif;

}

.clasePlan h2, p {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
}
button{
    padding: 10px;
    border: none;
    border-radius: 10px;
}
button:hover{
    background-color: #FFF44F;
}
